@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;500&display=swap');

body {
    background: rgb(20,170,19);
    background: linear-gradient(180deg, rgba(20,170,19,1) 15%, rgba(43,82,44,1) 48%);
}

/* * {
    box-sizing: border-box;
} */

/* ---------------------------- LANDING PAGE | index.html --------------------------------- */






























/* ----------------------------- USERS | register.html & login.html ----------------------- */








































/* ---------------------------- TRACKERS (habits) | trackers.html ------------------------ */



























/* ------ ANIMATION VIDEO --------- */
/* .jumbotron video {
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
    border-radius: 5%;
    z-index: 1;
    height: 25%;
    width: 100%;
    object-fit: cover;
} */