body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #fffcff;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color: #92a1d1;
}
#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #247ba0;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color: #e8f4fa;
}

.padding {
  cursor: default !important;
  background-color: #fffcff !important;
  box-shadow: none !important;
}

@media all (max-width: 500px) {
  body {
    margin-top: 30px;
  }
}
