html {
  height: 100%;
}

body {
  min-height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(../images/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #fffcff;
  font-family: "Kalam", cursive;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
}
#header button {
  background: #131c12;
  margin: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5x;
  padding-bottom: 5px;
  border-radius: 20px;
  color: #fff !important; */
}
#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #247ba0;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.6;
}
.day:hover {
  background-color: #97f3b1;
}

.day + #currentDay {
  background-color: #e8f4fa;
}

.padding {
  cursor: default !important;
  background-color: #fffcff !important;
  box-shadow: none !important;
}

.btn2 {
  background: #131c12;
  margin: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5x;
  padding-bottom: 5px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  color: #fff !important;
}